* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #050507;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
}
.app {
  min-height: 100vh;
  position: relative;
  padding: 60px 20px;
  overflow: hidden;
}
/* GRID */

.grid-bg {
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(rgba(124, 58, 237, 0.15) 1px, transparent 1px),
    linear-gradient(90deg, rgba(124, 58, 237, 0.15) 1px, transparent 1px);

  background-size: 60px 60px;

  z-index: 0;
}